/.env
/.idea/

/frontend/node_modules
/frontend/dist

/.venv
/backend/media/
/backend/static/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django logs
*.log
/backend/*.log
backend/cart/__pycache__/admin.cpython-312.pyc
*.pyc
*.pyc
backend/cart/__pycache__/views.cpython-312.pyc
*.pyc
*.log
backend/django.log
